@{
    ViewBag.Title = "actualizar1";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<aside>
<br/>
<center>
  <div id="menuv">
        <div>
          <h5><a href="mostrarcliente">PERSONA</a></h5>
          <br/>
             <ul>
                <li><a href="../csv/upload">Importar</a></li>
                <li><a href="../csv/exportarCsv">Exportar</a></li>
                
             </ul>
        </div>
         <div>
         <h5><a href="../cliente/mostraragencia">AGENCIA</a></h5>
          <br/>  
        </div>
        <div>
        <h5><a href="../cliente/mostrarempresa">EMPRESA</a></h5>    
            
        </div>
      
        
  </div>
  </center> 
</aside>
<section class="cuerpo">
<center>
<h2>Felicidades...!</h2>
<h3> Los datos fueron actualizados con exito..........</h3>
</center>
</section>
