@model seminario_proyecto.Models.inicio
@{
    ViewBag.Title = "index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
		
  

		<!--<center><img src="images/image.jpg" alt="" width="800" height="150" /><br /></center>>-->
	  	<div class="inside">
        <section class="cuerpo">
			<div id="sidebar">
            <div id="center">
				<div class="block">
					<h4>Ubicacion</h4>

					<p>Nosotros estamos ubicados, en el  lugar mas centrico  de la ciudad, que tiene  paisajes muy gustosos pa nuestra vista..... </p>
					<img src="images/map.jpg" alt="" width="304" height="207" class="map" /><br />
				
				</div>
                </div>
			</div>
			
				<div id="center">
				<div class="block">
					<h4>Bienvenidos al Hotel</h4>

					<p><strong>Bienvenidos a nuestro magnifico  hotel</strong> Usted  aqui podra tener una experiencia de lo mas comoda, ya que nuestros servicios  de acorde al cliente. Le aseguro  que no  arrepentira venga y visitenos </p>
				</div>
				<div class="block">
					<h4>Nuestros Servicios</h4>
					<p>Los servicios que ofrecemos a nuestres clientes son de toda variedad </p>

					<p>Como ser habitaciones simples.dobles.matrimoniales, etc  y esto  con todo completo</p>
					
				</div>
			</div>
		
	    </section>
        <aside>
        	<div id="photogallery">
				<div class="photos">
				  
                  
					
					<a href="#" target="_blank"><img src="/images/img1.jpg" alt="" width="158" height="100" /></a>

					<span>Name Photo</span>
					<a href="#" target="_blank"><img src="/images/img2.jpg" alt="" width="158" height="100" /></a>
					<span>Name Photo</span>
					<a href="#" target="_blank"><img src="/images/img3.jpg" alt="" width="158" height="100" /></a>
					
					<a href="#" id="all"><img src="/images/all.gif" alt="" width="134" height="21" /></a>		 
			  </div>
				<img src="/images/end.gif" alt="" width="270" height="60" />
			</div>
	

        </aside>


	</div><!-- container -->



