@model seminario_proyecto.Models.inicio
@{
    ViewBag.Title = "index";
    Layout = "~/Views/Shared/inicio.cshtml";
}
		
  

		<!--<center><img src="images/image.jpg" alt="" width="800" height="150" /><br /></center>>-->
	  	<div class="inside">
        <section class="cuerpo">
			<div id="sidebar">
            <div id="center">
				<div class="block">
					<h4>Ubicacion</h4>

					<p>Magna a luctus lacinia, sem Lorem vestibulum neque ac onsectetuer Donec fermentum varius erat. Sed sit amet tellus. Duis tristique, lacus vel nonummy lobortis, nibh massa dapibus diam a viverra augue ipsum et diam. </p>
					<img src="images/map.jpg" alt="" width="304" height="207" class="map" /><br />
					<a href="#" class="more">more info</a> <a href="#">ZOOM</a>
				</div>
                </div>
			</div>
			
				<div id="center">
				<div class="block">
					<h4>Bienvenidos al Hotel</h4>

					<p><strong>Magna a luctus lacinia, sem Lorem</strong> vestibulum neque ac onsectetuer Donec fermentum varius erat. Sed sit amet tellus. Duis tristique, lacus vel nonummy lobortis, nibh massa dapibus diam a viverra augue ipsum et diam.<br /> Sed condimentum, libero sed cursus dapibus, libero enim feugiat tellus, vitae accumsan elit neque et purus. Cras aliquet consectetuer risus. Ut wisi. Etiam nec nisl placerat enim imperdiet dignissim. Maecenas sit amet nunc vel ligula tempor cursus. Sed faucibus faucibus eros. Magna a luctus lacinia, sem Lorem vestibulum neque ac onsectetuer Donec fermentum varius erat. Sed sit amet tellus. Duis tristique, lacus vel nonummy lobortis, nibh massa dapibus diam a viverra augue ipsum et diam. </p>
				</div>
				<div class="block">
					<h4>Nuestros Servicios</h4>
					<p>Etiam felis mauris, mattis sed, dapibus sit amet, elementum at, sapien. Pellentesque eu mi. Vestibulum imperdiet, sem tristique tempus cursus, lacus lectus aliquet lorem, accumsan accumsan arcu velit ac mauris. Quisque et libero. Pellentesque ac pede commodo tortor gravida eleifend. Aliquam interdum velit tristique est. Aliquam pellentesque ultrices ante. Praesent sit amet purus eget velit hendrerit dignissim. Nunc eu libero blandit diam vehicula elementum. Vestibulum mauris elit, porta sit amet, eleifend a, cursus in, sem. Nunc tempus, nunc in convallis porttitor, sapien libero lobortis arcu, eget viverra metus massa a neque. Etiam egestas magna sed sem. </p>

					<p>Nunc feugiat, quam at sagittis commodo, lacus magna congue justo, eget viverra neque risus quis risus. Etiam placerat elit at ligula. Praesent hendrerit augue vitae lorem. Pellentesque dignissim, eros eget sodales.</p>
					<a href="#" class="more">more info about our services</a>
				</div>
			</div>
		
	    </section>
        <aside>
        	<div id="photogallery">
				<div class="photos">
				  
                  
					
					<a href="#" target="_blank"><img src="images/img1.jpg" alt="" width="158" height="100" /></a>

					<span>Name Photo</span>
					<a href="#" target="_blank"><img src="images/img2.jpg" alt="" width="158" height="100" /></a>
					<span>Name Photo</span>
					<a href="#" target="_blank"><img src="images/img3.jpg" alt="" width="158" height="100" /></a>
					
					<a href="#" id="all"><img src="images/all.gif" alt="" width="134" height="21" /></a>		 
			  </div>
				<img src="images/end.gif" alt="" width="270" height="60" />
			</div>
	

        </aside>


	</div><!-- container -->




