@{
    ViewBag.Title = "actualizar2";
    Layout = "~/Views/Shared/_Layout.cshtml";
    
}

<aside>
<br/>
<center>
  <div id="menuv">
        <div>
          <h5><a href="mostrarhabitacion">HABITACION</a></h5>
          <br/>
             <ul>
                <li><a href="../habitaciones/mostrartipo">Tipos</a></li>
                <li><a href="../habitaciones/mostrarmantencion">Mantenciones</a></li>
                
             </ul>
        </div>
         <div>
         <h5><a href="#">SERVICIOS</a></h5>
          <br/>  
        </div>
        <div>
        <h5><a href="../Administrador/getUserRoles">USUARIOS ROLES</a></h5>    
            
        </div>
      
        
  </div>
  </center> 
</aside>



<section class="cuerpo">
<center>
<h2>Felicidades...!</h2>
<h3> Los datos fueron actualizados con exito..........</h3>
</center>
</section>
